.body {
  margin: 0px;
}

.fruits-index {
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.fruits-list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 25px;
  row-gap: 25px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.indiv-fruit {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
}

.fruit-pic {
  width: 100%;
  height: 100%;
}

