.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 70%;
  height: 80%;
  display: flex;
}

.modal-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lemonchiffon;
}

.modal-fruit-name {
  font-size: 35px;
  font-family: cursive;
  color: darkslategrey;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 10px;
}

.modal-fruit-pic {
  width: 200px;
  height: 200px;
}

.modal-right {
  width: 60%;
  background-color: lavenderblush;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.modal-info {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 600;
}

.modal-info-bullet {
  display: flex;
}

.modal-info-bullet p {
  margin: 0px;
}

.modal-info-bullet p:first-child {
  margin-right: 10px;
  margin-bottom: 20px;
}

.modal-info-bullet p:nth-child(2) {
  font-weight: 500;
}

.nutrition-list {
  padding-left: 15px;
}

.nutrition-list li {
  display: flex;
  margin-bottom: 5px;
}

.nutrition-list li p {
  margin: 0px;
  font-weight: 500;
}

.nutrition-list li p:first-child {
  font-style: italic;
  margin-right: 10px;
}

.close {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 20px;
}

.close:hover {
  color: blueviolet;
  font-weight: 800;
  cursor: pointer;
}