.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 70%;
  height: 80%;
  display: flex;
}

.modal-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lemonchiffon;
}

.modal-fruit-name {
  font-size: 30px;
  font-family: cursive;
  color: darkslategrey;
}

.modal-fruit-pic {
  width: 200px;
  height: 200px;
}

.modal-right {
  width: 65%;
  background-color: lavenderblush;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-info {
  padding-left: 10px;
}

.nutrition-list {

}
